Tower-Defense-Arduino/.vscode
TowerDefense/TowerDefense/bin
TowerDefense/TowerDefense/obj
TowerDefense/TowerDefense.Android/bin
TowerDefense/TowerDefense.Android/obj
TowerDefense/TowerDefense.iOS/bin
TowerDefense/TowerDefense.iOS/obj
TowerDefenseWeb/TowerDefenseWeb/packages
TowerDefenseWeb/TowerDefenseWeb/bin
TowerDefenseWeb/TowerDefenseWeb/obj

.vs

